@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Press+Start+2P&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Press Start 2P';
    font-size: x-small;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../public/retrobackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.animate-slide {
    animation: slideDown 2s ease-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-300%);
    }   
    100% {
        transform: translateY(0);
    } 
}